*{
    box-sizing: border-box;
    margin: 0;
    padding: 0;
}
@font-face {
    font-family: opensans;
    font-weight: normal;
    font-style: normal;
    src: url("../fonts/opensans/static/OpenSans-Regular.ttf");
}
@font-face {
    font-family: opensans;
    font-weight: 600;
    font-style: normal;
    src: url("../fonts/opensans/static/OpenSans-SemiBold.ttf");
}
.container-fluid{
    width: 100%;
}
.container {
    max-width: 1140px;
    margin: 0 auto;
}
.d-flex {
    display: flex;
    justify-content: space-between;
    align-items: center;
}


body {
    font-family: "opensans", Arial, Helvetica, sans-serif;
    width: 100%;
    font-size: 16px;
}
header > .container {
    padding: 40px 20px;
}

header .menuicon {
    width: 35px;
    display: none;
    margin: 0!important;
}

header .container .menu a{
    font-size: 0.900em;
    text-decoration: none;
    color: #050574;
    margin: 0 20px;
}

header .container .menu a:hover,
header .container .menu a.active 
{
    color: #b40897;
    font-weight: 600;
    padding-bottom: 7px;
    border-bottom: 3px solid #4227d8;
}

header form div {
    justify-content: center;
    padding: 10px 20px;
    border: 1px solid #1e0b99;
    border-radius: 50px;
}

header .cart {
    align-items: flex-start;
}

header .cart img {
    margin-right: 7px;
}

header .cart div p {
    font-size: 0.938em;
    color: #04046c;
}

header .cart div a {
    font-size: 0.750em;
    color: #c90ab6;
}



.header-tittle{
    color:rgb(214, 8, 207);
    font-size: 50px;
    font-weight: 400px;
    text-align:center;
    cursor: pointer;
    text-shadow: -1px -1px #FFF,
                 -2px -2px #FFF,
                 -1px 1px #FFF,
                 -2px 2px #FFF,
                 1px 1px #FFF,
                 2px 2px #FFF,
                 1px -1px #FFF,
                 2px -2px #FFF,
                 -3px -3px 2px #BBB,
                 -3px 3px 2px #BBB,
                 3px 3px 2px #BBB,
                 3px -3px 2px #BBB;

    transition: all 1s;
    margin-top: 20px;
    }

    .header-tittle:hover {
        color: rgb(49, 7, 138);

}
.header-suptittle{
    color:#310581;
    font-size:16px ;
    margin-top: 20;
    text-align:center;
    left:0;

}
.header-suptittle1{
    font-size:16px ;
    text-align:left;
    padding-left: 150px;
}
.header-suptittle2{
    font-size:16px ;
    text-align:left;
    padding-left: 200px;
    -webkit-text-stroke: 1px #8b2276; 
  text-stroke: 1px #b404a2; 
}

.box {
    padding-left: 40px;
  }
  h3 {
    font-family: 'Merriweather', serif;
    font-size: 20px;
    letter-spacing: 1px;
    max-width: 800px;
    width: 100%;
    position: relative;
    display: inline-block;
    color: #465457;
  }
  .d10 h3 {
    display: table;
    width: auto;
    margin: 0 auto;
    padding: 15px;
    letter-spacing: 2px;
    border: 2px solid #cbdcea;
    color: #394671;
  }
  .d10 h3:after {
    content: '';
    position: absolute;
    top: 6px;
    left: 6px;
    width: calc(100% - 4px);
    height: calc(100% - 4px);
    border: 2px solid #cbdcea;
  }
footer {
    background-color: #ced2ff;
    padding-top: 0px;
    padding-bottom: 20px;
}

footer .container{
    align-items: flex-start;
}

footer .left {
    align-items: flex-start;
}

footer .left figure figcaption {
    color: #f3f3f3;
    font-size: 0.875em;
    margin-top: 25px;
    width: 138px;
}

footer .left nav {
    margin-left: 100px;
}

footer .left nav a {
    display: block;
    font-size: 0.875em;
    color: #2a0aab;
    margin-bottom: 20px;
    text-decoration: none;
}

footer .left nav a:hover, footer .left nav a.active {
    color: #d308bf;
}

footer .right form div{
    justify-content: left;
    width: 458px;
    border-bottom: 1px solid #4b10cb;
}

footer .right form input[type='text'] {
    padding: 8px 0;
    width: 100%;
    background: none;
    border: none;
}

footer .right form input[type='submit'] {
    width: 20px;
    height: 20px;

    background-size: cover;
    border: none;
}

footer .right > div{
    text-align: center;
    font-size: 0.875em;
    color: #3107d9;
    margin-top: 33px;
    margin-bottom: 15px;
}

footer .right .box {
    width: 50px;
    height: 50px;
    display: inline-block;
    margin: 16px 16px 0;

}
footer .copyrights {
    text-align: center;
    color: #3107d9;
    font-size: 00.750em;
    margin-top: 60px;
}
@media screen and (max-width: 1199px) {
    header form div {
        width: 238px;
    }
}

@media screen and (max-width: 1500px) {
    header > .container {
        flex-wrap: wrap;
        justify-content: center;
    }

    @media screen and(max-width:200px) {
        header form div {
            width: 240px;
        }
        header > .container > img {
            margin-right: 130px;
        }
        header .menuicon {
            display: inline-block;
        }
        header .container menu a {
            margin: 0 10px;
        }
    }
}



.registration-cssave form {
    max-width:800px;
    padding:50px 70px;
    border-radius:50px;
    box-shadow:4px 4px 15px rgba(0, 0, 0, 0.2);
    background-color:#fff;
  }
  
  .registration-cssave form h3 {
    font-weight:bold;
    margin-bottom:30px;
  }
  
  .registration-cssave .item {
    border-radius:10px;
    margin-bottom:25px;
    padding:10px 200px;
  }
  
  .registration-cssave .create-account {
    border-radius:30px;
    padding:10px 20px;
    font-size:18px;
    font-weight:bold;
    background-color:#3f93ff;
    border:none;
    color:white;
    margin-top:20px;
  }
  
  @media (max-width: 576px) {
    .registration-cssave form {
      padding:50px 20px;
    }
  }
